                /* 导航栏 */
                
                * {
                    padding: 0;
                    margin: 0;
                }
                
                a {
                    text-decoration: none;
                }
                
                input {
                    border: 0;
                }
                /* 第一部分整体 */
                
                .header {
                    width: 100%;
                    height: 40px;
                    background-color: #32373e;
                }
                
                .nav {
                    width: 1282px;
                    height: 100%;
                    margin: 0 auto;
                    text-align: center;
                    /* background-color: azure; */
                    display: flex;
                }
                /* 左边部分logo */
                
                .left {
                    width: 236px;
                    height: 100%;
                    vertical-align: top;
                    /* display: inline-block; */
                    /* background-color: #ff00ff; */
                }
                
                .left ul {
                    line-height: 40px;
                    text-align: center;
                }
                
                .left ul li {
                    vertical-align: top;
                    display: inline-block;
                }
                
                .left ul li a {
                    line-height: 40px;
                }
                
                .left-1 a {
                    color: #00B38A;
                    font-size: 25px;
                    margin-right: 35px;
                }
                
                .left-2 {
                    color: #00B38A;
                    margin-right: 12px;
                }
                
                .left-3 a {
                    color: #afafaf;
                    font-size: 13px;
                }
                
                .left-3 a:hover {
                    color: #ffffff;
                }
                /* 中间部分 nav */
                
                .middle {
                    width: 390px;
                    height: 100%;
                    margin-left: 34px;
                }
                
                .middle ul li {
                    display: inline-block;
                    margin-right: 24px;
                    line-height: 39px;
                }
                
                .middle ul li a {
                    color: #afafaf;
                    font-size: 14px;
                }
                
                .middle-1 {
                    width: 88px;
                    text-align: center;
                    /* height: 50px; */
                    background-color: #24282C;
                }
                
                .middle ul li a:hover {
                    color: #ffffff;
                }
                
                .middle-2 {
                    position: relative;
                }
                
                .middle-2 span {
                    display: inline-block;
                    width: 29px;
                    height: 17px;
                    line-height: 17px;
                    background-color: #FF7452;
                    font-size: 12px;
                    color: #ffffff;
                    border-radius: 13px;
                    position: absolute;
                    left: 24px;
                    top: 3px
                }
                /* 右边登录部分 */
                
                .right {
                    width: 570px;
                    height: 100%;
                    margin-left: 50px;
                    margin: 0 auto;
                }
                
                .right ul li {
                    display: inline-block;
                    margin-right: 12px;
                    line-height: 40px;
                }
                
                .right ul li a {
                    color: #afafaf;
                    font-size: 14px;
                }
                
                .right-1 {
                    margin-left: 32px;
                }
                
                .right-1 span {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: black;
                    text-align: center;
                    margin-right: 10px;
                    /* position: absolute; */
                }
                
                .right-2 {
                    margin-left: 32px;
                }
                
                .right-2 span a {
                    color: #00C295;
                }
                
                .right-2 span a:hover {
                    color: #00b38a;
                }
                
                .right-2 span {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: black;
                    text-align: center;
                    margin-right: 10px;
                }
                
                .right ul li a:hover {
                    color: #ffffff;
                }
                
                .content {
                    width: 1200px;
                }
                /* 第二部分整体大框 */
                
                .content {
                    width: 100%;
                    height: 120px;
                    background-color: #00b38a;
                }
                /* 内容大框 */
                
                .total {
                    width: 1298px;
                    height: 120px;
                    margin: 0 auto;
                    display: flex;
                }
                /* 左边logo部分 */
                
                .logo {
                    width: 680px;
                    height: 100%;
                    text-align: center;
                }
                
                .logo-1 {
                    display: inline-block;
                }
                
                .logo-2 {
                    display: inline-block;
                    position: relative;
                    bottom: 32px;
                }
                
                .logo-2 h3 {
                    font-size: 14px;
                    color: #ffffff;
                    margin-top: 4px;
                }
                /* 右边登录界面 */
                
                .login {
                    width: 780px;
                    height: 100%;
                    line-height: 120px;
                    text-align: center;
                }
                
                .login-1 {
                    width: 203px;
                    height: 35px;
                    background-color: #ffffff;
                    position: relative;
                    color: #bbbbbb;
                    font-size: 14px;
                    padding-left: 8px;
                    margin: 25px;
                }
                
                .login span {
                    position: absolute;
                    right: 663px;
                    top: 46px;
                    font-size: 14px;
                }
                
                .login-2 {
                    width: 94px;
                    height: 35px;
                    background-color: #ffffff;
                    /* margin-left: 15px; */
                    color: #bbbbbb;
                    font-size: 14px;
                    display: inline-block;
                    line-height: 35px;
                }
                
                .login-3 {
                    width: 94px;
                    height: 35px;
                    background-color: #ffffff;
                    color: #bbbbbb;
                    font-size: 14px;
                    display: inline-block;
                    line-height: 35px;
                }
                
                .login-3 {
                    display: inline-block;
                    width: 60px;
                    height: 35px;
                    background-color: #ffffff;
                    color: #00B38A;
                    font-size: 14px;
                }
                
                .login button {
                    display: inline-block;
                    width: 107px;
                    height: 35px;
                    font-weight: 600;
                    color: #ffffff;
                    background-color: #00b38a;
                    border: 1px solid #ffffff;
                    margin-left: 10px;
                    text-align: center;
                }
                
                .login button:hover {
                    background: rgba(255, 255, 255, .25);
                }
                /* 第三部分大盒子 */
                
                .big {
                    width: 100%;
                    height: 134px;
                    background-color: #F2F5F4;
                }
                
                .inner {
                    /* display: inline-block; */
                    width: 850px;
                    height: 74px;
                    margin: 0 auto;
                    padding: 30px 0 30px 0;
                    /* line-height: 74px; */
                    /* background-color: #ffff00; */
                    /* text-align: center;
    line-height: 130px; */
                }
                /* 搜索框 */
                
                .big-1 {
                    width: 850px;
                    height: 46px;
                }
                
                input {
                    width: 700px;
                    height: 100%;
                    font-size: 18px;
                    color: #bebebe;
                    padding-left: 10px;
                }
                
                button {
                    width: 140px;
                    height: 100%;
                    background-color: #00b38a;
                    font-size: 14px;
                    border: none;
                    color: #ffffff;
                }
                /* 搜索框下的文字信息 */
                
                .message {
                    width: 500px;
                    height: 20px;
                    margin-top: 5px;
                }
                
                .message ul li {
                    display: inline-block;
                    text-align: center;
                    margin-right: 10px;
                }
                
                .message-1 {
                    color: #777777;
                }
                
                .message-2 a {
                    color: #00b38a;
                    font-size: 14px;
                }
                
                .message-2:hover {
                    text-decoration: underline;
                }
                /* 第四个框架内容 */
                
                .main {
                    width: 100%;
                    height: 420px;
                }
                
                .main-1 {
                    width: 1200px;
                    height: 3000px;
                    /* background-color: #FF7452; */
                    margin: 40px auto 0;
                    display: flex;
                }
                
                .column {
                    width: 321px;
                    height: 383px;
                    /* background-color: aqua; */
                    display: flex;
                    flex-direction: column;
                }
                
                .column ul li a {
                    color: #555555;
                    font-size: 14px;
                    font-weight: 400;
                }
                /* 第一部分 */
                
                .column-1 {
                    width: 321px;
                    height: 20px;
                    padding-bottom: 26px;
                }
                
                .column ul {
                    display: inline-block;
                }
                
                .column-1 ul li {
                    display: inline-block;
                    margin-right: 15px;
                }
                
                h2 {
                    font-size: 18px;
                    font-weight: 350;
                    display: inline-block;
                    margin-right: 10px;
                }
                
                .column ul li a:hover {
                    color: #00B38A;
                    text-decoration: underline;
                }
                
                .picture {
                    margin-left: 39px;
                    width: 840px;
                    height: 346px;
                    flex: 1;
                }
                /* 第五个名片区 */
                
                .shop {
                    width: 1200px;
                    height: 800px;
                    /* background-color: #bebebe; */
                    margin: 0 auto;
                }
                /* z最上面的选择按钮 */
                
                .topnav {
                    width: 1200px;
                    height: 30px;
                    border-bottom: 1px solid #bebebe;
                    /* position: relative; */
                }
                
                .topnav h4 {
                    display: inline-block;
                    margin-right: 30px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #999999;
                }
                
                h4 .topnav-1 {
                    color: #24282C;
                    text-decoration: underline;
                    /* position: absolute;
                top: 10px; */
                }
                /* 名片 */
                
                .card {
                    width: 1200px;
                    height: 648px;
                    margin: 30px auto 0;
                    /* background-color: #FF7452; */
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                
                .card-1 {
                    /* width: 1200px; */
                    height: 200px;
                    /* background-color: #FF7452; */
                }
                
                .card-2 {
                    width: 351px;
                    height: 178px;
                    border: 1px solid #afafaf;
                    position: relative;
                }
                
                .small {
                    position: absolute;
                    width: 20px;
                    font-size: 13px;
                    background-color: #00C295;
                }
                /* 第一行卡片图文 */
                
                .module {
                    width: 322px;
                    height: 87px;
                    /* margin: 15px; */
                    /* width: 73px; */
                    padding: 15px;
                }
                
                .one {
                    color: #24282C;
                    font-size: 16px;
                }
                
                .module span.one {
                    display: inline-block;
                    width: 82px;
                    white-space: nowrap;
                    /* height: 20.8px; */
                    /* line-height: 20.8px; */
                    /* background-color: #FF7452; */
                    /* 多的内容隐藏 */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;
                    top: 5px;
                }
                
                .two {
                    color: #bbbbbb;
                    font-size: 14px;
                    margin: 0 8px 0 8px;
                }
                
                .three {
                    color: #FF7452;
                    margin-left: 62px;
                }
                
                .box {
                    width: 100%;
                    height: 30px;
                    margin: 10px 0 10px 0;
                }
                
                .box-1 {
                    color: #999999;
                    font-size: 13px;
                    width: 73px;
                    height: 28px;
                    border: 1px solid #F0F0F0;
                    border-radius: 3px;
                    line-height: 28px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 10px;
                }
                
                .module p {
                    color: #afafaf;
                    font-size: 14px;
                    margin: 6px 0 6px 0;
                }
                
                .module-1 {
                    width: 321px;
                    height: 40px;
                    margin: 0 15px 10px 15px;
                    padding-top: 10px;
                    /* background-color: #FF7452; */
                    border-top: 1px dashed #999999;
                }
                
                .module-1 img {
                    border-radius: 10px;
                }
                
                .module-3 {
                    display: inline-block;
                    margin-left: 10px;
                    /* width: 150px; */
                    /* height: 40px; */
                    /* line-height: 40px; */
                    vertical-align: top;
                }
                
                .module-3 span {
                    color: #555555;
                    font-size: 14px;
                }
                
                .module-3 p {
                    color: #9999;
                    font-size: 13px;
                }
                /* 查看更多样式 */
                
                .more {
                    width: 1200px;
                    height: 100px;
                }
                
                .more-1 {
                    width: 389px;
                    height: 44px;
                    border: 1px solid #00B38A;
                    margin: 0 auto;
                    text-align: center;
                    line-height: 44px;
                    color: #00B38A;
                }
                
                .more-1:hover {
                    width: 389px;
                    height: 44px;
                    background-color: #00B38A;
                    color: #ffffff;
                }